li{display:inline}
a:link{color:black;}
a:hover{color:rgb(106, 170, 106);}
a:visited {color:purple;}
h1 {font-family: Georgia, 'Times New Roman', Times, serif;}

a:hover{text-decoration:none;}

.menu{text-align:right; border-bottom:1px solid rgb(0, 0, 0);}
.more{text-align: right;}

#spring {text-align: center;}
#summer {text-align: center;}
#autumn {text-align: center;}
#winter {text-align: center;}

